PORT=8000
HOST_ENV=local
# SOURCE_VERSION=123
# SENTRY_AUTH_TOKEN=!!!SECRET!!!
VITE_BACKEND_TRPC_URL=http://localhost:3000/trpc
VITE_WEBAPP_URL=http://localhost:8000
# VITE_WEBAPP_SENTRY_DSN=!!!SECRET!!!
VITE_CLOUDINARY_CLOUD_NAME=dl1hq1vib
VITE_S3_URL=https://s3.eu-north-1.amazonaws.com/ideanick
# VITE_MIXPANEL_API_KEY=!!!SECRET!!!